@use '../../App.scss' as *;

.services {
    // padding: $g_lg * 4 $g_lg * 2;

    &--container {
        margin-top: $g_lg;
        display: flex;
        flex-direction: column;
        gap: $g_lg;
    }

    @media (max-width: 768px) {
        padding: $g_lg * 2 $g_lg;
    }
}

